.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
    padding: 1vh 1vw;
    border: 2px solid green;
    border-radius: 20px;
}

.title {
    width: 85%;
    font-size: 1.7em;
    border: none;
    outline: none;
    resize : none;
    overflow: hidden;
}

.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 1.5em;
    cursor: pointer;
}

.change {
    color: black;
}

.move {
    color: blue;
}

.delete {
    color: red;
}
