.TodoItem {
    border: 2px solid rgb(7, 138, 0);
    border-radius: 20px;
    margin-bottom: 2vh;
    padding: 1vh 1vw;
    background-color:rgba(171, 255, 46);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ButtonsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 1.5em;
    cursor: pointer;
}

.Change {
    color: black;
}

.Move {
    color: blue;
}

.Delete {
    color: red;
}
