.task-input {
    display:flex;
    justify-content: space-between;
    height: 45px;
}

.add-button {
    flex-basis: 20%;
    max-height: 45px;
    text-align: center;
    font-size: 1.7em;
    border: 2px solid black;
    background-color: rgb(7, 138, 0);
    outline: none;
}

.input-field {
    flex-basis: 80%;
    border: 2px solid black;
    margin-right: 3vw;
    font-size: 1.7em;
    max-height: 45px;
    padding: 0px;
    outline: none;
    resize: none;
    overflow: hidden;
}

