.TaskInput {
    display:flex;
    justify-content: space-between;
    height: 80px;
}

.AddButton {
    width: 100%;
    background-color: rgb(7, 138, 0);
    border-radius: 20px;
    text-align: center;
    font-size: 1.6em;
    outline: none;
    flex-basis: 20%;
}

.InputField {
    border-radius: 20px;
    margin-right: 3vw;
    outline: none;
    resize: none;
    overflow: hidden;
    font-size: 1.8em;
    flex-basis: 80%;
    max-height: 80px;
}

